.digital-display{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    color: red;
    background-color: black;
    width: 10rem;
    margin: auto;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 0.75rem;
    font-size: 2rem;

    display: flex;
    justify-content: space-evenly;

    > span {
        text-align: center;
        width: 2rem;
    }

    &.at-zero {
        animation: flashing-color 0.45s linear 5;       
    }
}

@keyframes flashing-color {
    0% {
        color: red
    }   
    50% {
        color: rgb(255, 0, 0, 0);;
    }
    100% {
        color: red
    }
}